.basket-icon {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 70px;
  right: 10px;
  border-radius: 50%;
  background-color: var(--darkGray);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}
.basket-icon:hover {
  background-color: var(--black);
}

/* ---------------------- */
.inactive {
  display: none;
}

/* 600-1200px --------------------------------------- */
@media (max-width: 1200px) {
  .basket-icon {
    width: 40px;
    height: 40px;
  }
}

/* 425-600px --------------------------------------- */

@media (max-width: 600px) {
  .basket-icon {
    width: 35px;
    height: 35px;
  }
}

/* 0-425px --------------------------------------- */
@media (max-width: 425px) {
}
