.header {
  width: 100%;
  min-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--darkGray);
  background-color: var(--white);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.header-top {
  width: 68%;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header-top .header-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-icons .icon {
  width: 30px;
  height: 40px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
}
.header-icons .icon:hover {
  color: var(--black);
}

.header-top .bike {
  width: 4%;
  margin-top: 30px;
  position: absolute;
  left: -340px;
  bottom: 0;
}

/* ---------------- */
.header-bottom {
  width: 80%;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--darkGray);
}
.header-bottom .logo {
  color: var(--black);
  font-size: var(--xlarge);
  font-weight: bold;
  cursor: pointer;
}
.header-bottom .header-links {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-links p {
  width: 35%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.7s;
  cursor: pointer;
}
.header-links p:hover {
  background-color: var(--red);
  color: var(--bgBody);
}

@media (max-width: 1700px) {
  .header-top {
    justify-content: center;
  }
  .bike {
    display: none;
  }
  .header-bottom {
    border-top: 0px;
    border-bottom: 2px solid var(--darkGray);
  }
}

/* 600-1200px --------------------------------------- */
@media (max-width: 1200px) {
}

/* 425-600px --------------------------------------- */

@media (max-width: 600px) {
  .header-bottom {
    border-top: 0px;
    border-bottom: 2px solid var(--darkGray);
    flex-direction: column;
  }
  .header-bottom {
    justify-content: space-around;
  }
  .header-bottom p {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* 0-425px --------------------------------------- */
@media (max-width: 425px) {
}
