.login {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Login page ----------------------------------------------- */
.login-main {
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--red);
  margin-top: 100px;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}
.login-main:hover {
  box-shadow: 1px 1px 5px var(--red);
}
.login-main .login-title {
  font-size: var(--xxlarge);
  color: var(--black);
  font-weight: bold;
  height: 80px;
  display: flex;
  align-items: center;
}
.login-main input {
  width: 70%;
  height: 50px;
  padding: 3px;
}
.login-btn {
  width: 70%;
  height: 50px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s;
}

.login-btn:hover {
  background-color: var(--darkGray);
  color: var(--black);
  border: none;
}

.other-login-methods {
  width: 72%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}
.other-login-methods button {
  width: 47%;
  height: 100%;
  background-color: var(--lightGray);
  border: none;
  cursor: pointer;
  font-size: var(--xlarge);
}

.login-main .back-button {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5%;
  top: 10%;
}
.login-main .back-button:hover {
  color: var(--red);
}
/* ------------------------ */

.go-register-title {
  margin-top: 50px;
  cursor: pointer;
  color: var(--darkGray);
}

.inactive {
  display: none;
}

/* --Pasword Reset------------------------------------------- */
.password-reset {
  width: 550px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--red);
  margin-top: 100px;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.password-reset:hover {
  box-shadow: 1px 1px 5px var(--red);
}
.password-reset .password-reset-title {
  font-size: var(--xxlarge);
  color: var(--black);
  font-weight: bold;
  height: 80px;
  display: flex;
  align-items: center;
}
.password-reset input {
  width: 70%;
  height: 50px;
  padding: 3px;
}

.password-reset button {
  transition: all 0.5s;
}
.password-reset button:hover {
  background-color: var(--darkGray);
  color: var(--black);
  border: none;
}

/* 600-1200px --------------------------------------- */
@media (max-width: 1200px) {
}

/* 425-600px --------------------------------------- */

@media (max-width: 600px) {
  .login-main {
    width: 90%;
  }
}

/* 0-425px --------------------------------------- */
@media (max-width: 425px) {
}
