.order-detail {
  width: 100%;
  min-height: 839px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bgBody);
}
.order-detail-info {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white);
}

.order-detail-product-list {
  width: 80%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--white);
}
.order-detail-product-list .order-product {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.order-detail-adress {
  width: 80%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}
