.adminpanel {
  width: 20%;
  min-height: 100vh;
  background-color: var(--darkGray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminpanel-pages {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
}
.adminpanel-pages div {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--large);
  background-color: var(--bgBody);
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 10px;
}
.adminpanel-pages div:hover {
  background-color: var(--darkGray);
  color: var(--white);
  border: 1px solid var(--white);
}
.adminpanel-pages p {
  width: 70px;
}

.admin-panel-icon {
  width: 20px;
}
