.account {
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgBody);
}
.account-body {
  width: 600px;
  min-height: 800px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 75px;
  margin-bottom: 75px;
  border-radius: 20px;
}
.account-body .account-user-logo {
  width: 80%;
  height: 200px;
  background-color: var(--darkGray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bgBody);
  border-radius: 15px;
}
.account-user-logo-icon {
  font-size: var(--xxlarge);
}

.account-body .user-info {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.user-info p {
  cursor: pointer;
  background-color: var(--darkGray);
  width: 80%;
  height: 40px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: var(--white);
  transition: all 0.5s;
}
.user-info p:hover {
  background-color: var(--lightGray);
}

.account-body .logout-btn {
  width: 80%;
  height: 40px;
  background-color: var(--white);
  border: 1px solid var(--red);
  cursor: pointer;
  transition: all 0.5s;
}
.account-body .logout-btn:hover {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: var(--white);
  border-radius: 10px;
}

.inactive {
  position: absolute;
  opacity: 0;
}

/* 600-1200px --------------------------------------- */
@media (max-width: 1200px) {
}

/* 425-600px --------------------------------------- */

@media (max-width: 600px) {
  .account-body {
    width: 100%;
  }
}

/* 0-425px --------------------------------------- */
@media (max-width: 425px) {
}
