@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}
:root {
  --bgBody: #f5f5f5;
  --textColor: #121212;
  --red: #b12718;
  --lightGray: #e6e6e5;
  --darkGray: #82827d;
  --black: black;
  --white: white;

  --smal: 10px;
  --medium: 15px;
  --large: 20px;
  --xlarge: 25px;
  --xxlarge: 30px;
}
